#dropdown{
    position: fixed;
    top: 0;
    left: auto;
    right: 0; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#videoCards,#processors,#rammemory,#cooler,#powerSupply,#motherboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding-top: 100px;
    border:solid 2px #a91ad4
}
img {
    width: 250px;
    height: auto; 
}
#carrito{
    width: 150px;
    height: auto; 
}
.stock img {
    width: 180px;
    height: auto; 
  }
